<div style="border: 1px solid red">people Component</div>

<div *ngFor="let p of peopleList" (click)="showList(p.id)">
  <nav>
    <a [routerLink]="['/book', {outlets: {'people': ['people'], 'gifts': [p.id]}}]">{{p.firstname}} {{p.lastname}}</a>
    <button (click)="removePerson(p)">Remove</button>
    <!--<a routerLink="/gifts/{{p.id}}">{{p.firstname}}</a>-->
  </nav>
</div>

<br />
<form>
  <input type="text" name="newPerson" placeholder="First Name" [(ngModel)]="newPerson.firstname" /><ng-container *ngIf="firstNameError">Invalid Format. Try Again.</ng-container><br />
  <input type="text" name="newPerson" placeholder="Last Name" [(ngModel)]="newPerson.lastname" /><ng-container *ngIf="lastNameError">Invalid Format. Try Again.</ng-container><br />
  <!--<textarea name="newperson" placeholder="First Name" rows="1" cols="50" [(ngModel)]="newPerson.firstname"></textarea> <br />
  <textarea name="newperson" placeholder="Last Name" rows="1" cols="50" [(ngModel)]="newPerson.lastname"></textarea> <br />-->
  <button (click)="addPerson()">Add Person</button>
</form>
