<div class="letter">
  <ng-container>
    <h1 style="text-align:center">Holiday Decoration Check-List</h1>
    <h1 style="text-align:center">~~~~~~~~~~~~~~~~~~~~~</h1><br />
    <ng-container *ngFor="let item of decorationList, index as i">
      <ng-container *ngIf="item.loginid === currentID">
        <div *ngIf="item.done =='1'; then Checked else unChecked"></div>

        <ng-template #Checked>
          <input type="checkbox" id="item{{i}}" (click)="checkbox(item)" Checked /><label for="item{{i}}"><del>{{item.description}}</del></label>
          <button (click)="removeDecoration(item)" class="removebutton">X</button><br />
        </ng-template>

        <ng-template #unChecked>
          <input type="checkbox" id="item{{i}}" (click)="checkbox(item)" /><label for="item{{i}}">{{item.description}}</label>
          <button (click)="removeDecoration(item)" class="removebutton">X</button><br />
        </ng-template>
      </ng-container>
    </ng-container>




    <br />

    <form>
      <input type="text" name="newDecor" placeholder="New Decoration" [(ngModel)]="newDecorationItem.description" /><ng-container *ngIf="error">Invalid Format. Try Again.</ng-container><br />
      <button (click)="newItem()">Add Decoration</button>
    </form>
  </ng-container>
</div>
