

<body *ngIf="!cookieSet">
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <app-login></app-login>
  </div>
</body>




<body *ngIf="cookieSet">
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <img src="../assets/treeTransparent.png"  style="width: 200px; height: 200px; float:left;"/>
    <a style="color:ghostwhite; font-size:26px">Welcome, {{loggedInUser?.login}}</a><span><app-completed></app-completed></span>
    <h6 style="color:ghostwhite">Not you? <button (click)="clearCookie()" class="pagebutton">Click here</button><ng-container *ngIf="logout"><span style="color:orangered;"> ...Logging out...</span></ng-container></h6>
    <br />
    <!--<button (click)="sendInfo()">Log</button>-->
    <router-outlet></router-outlet>
  </div>
  <div align="center" style="padding-top: 50px">
    <app-music-player></app-music-player>
  </div>
</body>
