<button (click)="setUser('new')">New User</button>&nbsp;<button (click)="setUser('existing')">Existing User</button>
<br />

<form *ngIf="usertype == 'new'">
  <input type="text" name="login" placeholder="New User" [(ngModel)]="username" /><ng-container *ngIf="error == 'invalidFormat'"><span style="color:red">Invalid Format. Try Again.</span></ng-container><ng-container *ngIf="error == 'userTaken'"><span style="color:red">Username taken</span></ng-container>
  <br />
  <button class="pagebutton" (click)="addNewUser()">Add User</button><ng-container *ngIf="success"><span style="color:forestgreen;">Success! Creating user and logging you in...</span></ng-container>
</form>

<form *ngIf="usertype == 'existing'">
  <input type="text" name="login" placeholder="Username" [(ngModel)]="username" /><ng-container *ngIf="error == 'notFound'"><span style="color:red">Unable to find username. Need to create a new one?</span></ng-container>
  <br />
  <button class="pagebutton" (click)="loginUser()">Login</button><ng-container *ngIf="success"><span style="color:forestgreen;">Success! Logging you in...</span></ng-container>
</form>
